.item {
    width: 30%;
    margin-bottom: 50px;
    background: #a2daea;
    border-radius: 10px;
    overflow: hidden;

    img {
        width: 100%;
        border-radius: 10px;
        transition: 1000ms ease;
    }

    img:hover {
        transform: scale(1.05);
    }
}