header {
    position: relative;

    .empty{

        h2{
            font-size: 20px;
            margin-bottom: 20px;
        }

    }

    .logo {
        font-weight: 1000;
        font-size: 26px;
    }

    .nav {
        float: right;
        list-style: none;

        li {
            display: inline;
            margin-left: 25px;
            cursor: pointer;
            font-size: 15px;
            font-weight: 600;
            transition: opacity 500ms ease;
        }

        &:hover {
            /*li*/
            opacity: 0.8;
        }

    }

    .shopCartButton {
        float: right;
        cursor: pointer;
        transition: color,transform 500ms ease;
        font-size: 25px;

        &:hover,
        /*.shopCartButton*/
        &.active {
            /*.shopCartButton*/
            color: orange !important;
            transform: scale(1.2);
        }
    }

    .shopCart {
        position: absolute;
        top: 30px;
        right: 0;
        width: 450px;
        min-height: 100px;
        background: white;
        -webkit-box-shadow: 20px 16px 15px 6px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 20px 16px 15px 6px rgba(34, 60, 80, 0.2);
        box-shadow: 20px 16px 15px 6px rgba(34, 60, 80, 0.2);
        z-index: 1000;
        padding: 20px;
        padding-bottom: 0;


    }

    .presentation {
        margin: 50px 0;
    }

}